<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="candidate">
            <h2><span jhiTranslate="luminiskillsApp.candidate.detail.title">Candidate</span> {{ candidate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.candidate.driverslicense">Driverslicense</span></dt>
                <dd>
                    <span>{{ candidate.driverslicense }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.mobility">Mobility</span></dt>
                <dd>
                    <span>{{ candidate.mobility }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.city">City</span></dt>
                <dd>
                    <span>{{ candidate.city }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.address">Address</span></dt>
                <dd>
                    <span>{{ candidate.address }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.cv">Cv</span></dt>
                <dd>
                    <span>{{ candidate.cv }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.bithDate">Bith Date</span></dt>
                <dd>
                    <span>{{ candidate.bithDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.handicapSituation">Handicap Situation</span></dt>
                <dd>
                    <span>{{ candidate.handicapSituation }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.fullProfil">Full Profil</span></dt>
                <dd>
                    <span>{{ candidate.fullProfil }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.candidate.withoutExperience">Without Experience</span></dt>
                <dd>
                    <span>{{ candidate.withoutExperience }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidate', candidate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
