<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-candidate-heading" jhiTranslate="luminiskillsApp.candidate.home.createOrEditLabel">Create or edit a Candidate</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.driverslicense" for="field_driverslicense">Driverslicense</label>
                    <input type="text" class="form-control" name="driverslicense" id="field_driverslicense"
                           formControlName="driverslicense"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.mobility" for="field_mobility">Mobility</label>
                    <input type="text" class="form-control" name="mobility" id="field_mobility"
                           formControlName="mobility"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.cv" for="field_cv">Cv</label>
                    <input type="text" class="form-control" name="cv" id="field_cv"
                           formControlName="cv"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.bithDate" for="field_bithDate">Bith Date</label>
                    <div class="input-group">
                        <input id="field_bithDate" type="text" class="form-control" name="bithDate" ngbDatepicker #bithDateDp="ngbDatepicker" formControlName="bithDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="bithDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.handicapSituation" for="field_handicapSituation">Handicap Situation</label>
                    <input type="checkbox" class="form-control" name="handicapSituation" id="field_handicapSituation"
                           formControlName="handicapSituation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.fullProfil" for="field_fullProfil">Full Profil</label>
                    <input type="checkbox" class="form-control" name="fullProfil" id="field_fullProfil"
                           formControlName="fullProfil"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.candidate.withoutExperience" for="field_withoutExperience">Without Experience</label>
                    <input type="checkbox" class="form-control" name="withoutExperience" id="field_withoutExperience"
                           formControlName="withoutExperience"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
