<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="experience">
            <h2><span jhiTranslate="luminiskillsApp.experience.detail.title">Experience</span> {{ experience.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.experience.title">Title</span></dt>
                <dd>
                    <span>{{ experience.title }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.institution">Institution</span></dt>
                <dd>
                    <span>{{ experience.institution }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.contract">Contract</span></dt>
                <dd>
                    <span>{{ experience.contract }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.fromDate">From Date</span></dt>
                <dd>
                    <span>{{ experience.fromDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.toDate">To Date</span></dt>
                <dd>
                    <span>{{ experience.toDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.location">Location</span></dt>
                <dd>
                    <span>{{ experience.location }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.skills">Skills</span></dt>
                <dd>
                    <span>{{ experience.skills }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.level">Level</span></dt>
                <dd>
                    <span>{{ experience.level }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.experience.candidateId">Candidate Id</span></dt>
                <dd>
                    <div *ngIf="experience.candidateId">
                        <a [routerLink]="['/candidate', experience.candidateId?.id, 'view']">{{ experience.candidateId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/experience', experience.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
