<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.recruiter.home.title">Recruiters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-recruiter" [routerLink]="['/recruiter/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.recruiter.home.createLabel">
            Create a new Recruiter
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="recruiters?.length === 0">
        <span jhiTranslate="luminiskillsApp.recruiter.home.notFound">No recruiters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="recruiters && recruiters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.recruiter.post">Post</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.recruiter.companyId">Company Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let recruiter of recruiters ;trackBy: trackId">
                    <td><a [routerLink]="['/recruiter', recruiter.id, 'view']">{{ recruiter.id }}</a></td>
                    <td>{{ recruiter.post }}</td>
                    <td>
                        <div *ngIf="recruiter.companyId">
                            <a [routerLink]="['/company', recruiter.companyId?.id, 'view']" >{{ recruiter.companyId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/recruiter', recruiter.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/recruiter', recruiter.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(recruiter)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
