<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.step.home.title">Steps</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-step" [routerLink]="['/step/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.step.home.createLabel">
            Create a new Step
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="steps?.length === 0">
        <span jhiTranslate="luminiskillsApp.step.home.notFound">No steps found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="steps && steps.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.step.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.step.creationDate">Creation Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.step.closeDate">Close Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.step.applicationId">Application Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let step of steps ;trackBy: trackId">
                    <td><a [routerLink]="['/step', step.id, 'view']">{{ step.id }}</a></td>
                    <td>{{ step.name }}</td>
                    <td>{{ step.creationDate | date:'mediumDate' }}</td>
                    <td>{{ step.closeDate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="step.applicationId">
                            <a [routerLink]="['/application', step.applicationId?.id, 'view']" >{{ step.applicationId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/step', step.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/step', step.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(step)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
