<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-step-heading" jhiTranslate="luminiskillsApp.step.home.createOrEditLabel">Create or edit a Step</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.step.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.step.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker #creationDateDp="ngbDatepicker" formControlName="creationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.step.closeDate" for="field_closeDate">Close Date</label>
                    <div class="input-group">
                        <input id="field_closeDate" type="text" class="form-control" name="closeDate" ngbDatepicker #closeDateDp="ngbDatepicker" formControlName="closeDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="closeDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="luminiskillsApp.step.applicationId" for="field_applicationId">Application Id</label>
                    <select class="form-control" id="field_applicationId" name="applicationId" formControlName="applicationId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="applicationOption.id === editForm.get('applicationId')!.value?.id ? editForm.get('applicationId')!.value : applicationOption" *ngFor="let applicationOption of applicationids; trackBy: trackById">{{ applicationOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
