<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="step">
            <h2><span jhiTranslate="luminiskillsApp.step.detail.title">Step</span> {{ step.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="luminiskillsApp.step.name">Name</span></dt>
                <dd>
                    <span>{{ step.name }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.step.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{ step.creationDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.step.closeDate">Close Date</span></dt>
                <dd>
                    <span>{{ step.closeDate }}</span>
                </dd>
                <dt><span jhiTranslate="luminiskillsApp.step.applicationId">Application Id</span></dt>
                <dd>
                    <div *ngIf="step.applicationId">
                        <a [routerLink]="['/application', step.applicationId?.id, 'view']">{{ step.applicationId?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/step', step.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
