<div>
    <h2 id="page-heading">
        <span jhiTranslate="luminiskillsApp.training.home.title">Trainings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-training" [routerLink]="['/training/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="luminiskillsApp.training.home.createLabel">
            Create a new Training
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="trainings?.length === 0">
        <span jhiTranslate="luminiskillsApp.training.home.notFound">No trainings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="trainings && trainings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.training.diploma">Diploma</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.training.university">University</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.training.fromDate">From Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.training.toDate">To Date</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.training.city">City</span></th>
                    <th scope="col" ><span jhiTranslate="luminiskillsApp.training.candidateId">Candidate Id</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let training of trainings ;trackBy: trackId">
                    <td><a [routerLink]="['/training', training.id, 'view']">{{ training.id }}</a></td>
                    <td>{{ training.diploma }}</td>
                    <td>{{ training.university }}</td>
                    <td>{{ training.fromDate | date:'mediumDate' }}</td>
                    <td>{{ training.toDate | date:'mediumDate' }}</td>
                    <td>{{ training.city }}</td>
                    <td>
                        <div *ngIf="training.candidateId">
                            <a [routerLink]="['/candidate', training.candidateId?.id, 'view']" >{{ training.candidateId?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/training', training.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/training', training.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(training)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
